@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght+400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif; /* Poppins direto como padrão de tudo! */
  
  /* Sua paleta de cores personalizada */
  --color-sitio-100: #ffffff;
  --color-sitio-200: #fcfde9;
  --color-sitio-300: #fafcd3;
  --color-sitio-400: #f7fabe;
  --color-sitio-500: #f5f9a8;
  
  /* Cor escura para o texto ter contraste */
  --color-sitio-texto: #2d3732; 
}